<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Discount cards</label> <select name="" id="" class="form-control">
                    <option value="Use Dis30 to get 30%off|Above 129">Use Dis30 to get 30%off|Above 129</option>
                    <option value="Use Dis40 to get 40%off|Above 200">Use Dis40 to get 40%off|Above 200</option>
                    <option value="Use Dis45 to get 45%off|Above 300">Use Dis45 to get 45%off|Above 300</option>
                    <option value="Use Dis50 to get 50%off|Above 500">Use Dis50 to get 50%off|Above 500</option>
                </select>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Address</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="" class="form-label">Payment</label>
            <select name="" id="" class="form-control">
                <option value="GPAY">GPAY</option>
                <option value="PAYTM">PAYTM</option>
                <option value="NETBANKING">NETBANKING</option>
                <option value="UPI">UPI</option>
            </select></div>
            <div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <button class="btn btn-primary">PAY</button></div>
            </div>
        </div>
    </div>
</div>
